/* Navigation */

.navbar {
    width: 100%;
}

.navbar-brand{
    font-size: 1.2rem;
    font-weight: bold;
    text-decoration: none;
    transition: var(--transition);
    .logo{
        margin: 0.3rem;
        background-color: #fff;
        color: var(--primary-color);
        padding: .6rem .3rem;
        border-radius: 50%;
    }
}

.navbar-nav {
    width: 220px;
    font-weight: 600;
    & .nav-item{
        padding: 5px 10px;
        border-radius: 5px;
        transition: var(--transition);
        &:first-child{
            border: 1px solid #eeee;
            color: #eeee;
        }
        &.active{
            background-color: #eeee;
            color: #000;
        }
        &:hover{
            text-decoration: none;
            background-color: #eeee;
            color: #000;
            transition: var(--transition);
        }
    }
}